form {
  display: flex;
  justify-content: left;
  flex-direction: row;
  align-items: center;
  background-color: blue;
}

fieldset {
  border: none;
  gap: 14px;
  color: var(--text-heading);
  font: var(--heading-md);
}
