@import url(fields/index.css);

form {
  display: flex;
  margin-left: 130px;
  img {
    gap: 14px;
    width: 24px;
    height: 24px;
  }
}

legend {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 14px;
  margin-bottom: 24px;
}

fieldset {
  border: none;
  color: var(--text-heading);
  font: var(--heading-md);
}
